# Mini Portfolio Python Programming

# No 1

Ada berapa jumlah plat `genap` dan `ganjil`?

In [1]:
list_plat_mobil = ['B 1234 AB', 'B 6721 TY', 'B 1233 AY', 'B 6629 DD', 'B 1111 AM', 'B 6726 D', 'D 11223 KJ', 'AE 44677 GH', 'AE 67269 AA']
list_angka_plat = []

for i in list_plat_mobil:
    cek_plat = (int(i.split()[1]))
    if cek_plat % 2 == 0:
        list_angka_plat.append('genap')
    else:
        list_angka_plat.append('ganjil')
    
print(list_angka_plat)
print("")
print("Jumlah plat genap =", list_angka_plat.count('genap'))
print("Jumlah plat ganjil =", list_angka_plat.count('ganjil'))

['genap', 'ganjil', 'ganjil', 'ganjil', 'ganjil', 'genap', 'ganjil', 'ganjil', 'ganjil']

Jumlah plat genap = 2
Jumlah plat ganjil = 7

# No 2

Buatlah deret fibonacci 12 angka yang dimulai dari 2 dan 3 menggunakan iterasi cara for atau while. <br>
Output yang diharapkan adalah [2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [2]:
banyak_angka = 12
n1 = 2
n2 = 3
angka_terakhir = 0
jumlah = 0
hasil = []

while jumlah < banyak_angka:
    hasil.append(n1)
    angka_terakhir = n1 + n2
    n1 = n2
    jumlah += 1
    n2 = angka_terakhir
    
hasil

[2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

# No 3

Team Campaign PT ABC akan membuat promo bundling category product (berisi 3 category setiap bundling) untuk promo 17 Agustus. <br>
PT ABC memiliki 10 category product. Ketentuan Bundling:
1. Tidak boleh hanya memiliki 1 jenis category dalam 1 bundling
2. 1 Bundling boleh memiliki 2 category yang sama
3. Urutan tidak menjadi faktor pembeda (c1 - c2 - c3 = c2 - c1 - c3).
Tentukan ada berapa jumlah kemungkinan bundling yang bisa terbentuk?<br>

Berikut list code category list_id_category = [c1, c2, c3, c4, c5, c6, c7 , c8, c9,
c10]

In [3]:
list_id_category = ['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7' , 'c8', 'c9', 'c10']
list_bundling_category = []

for i in list_id_category:
    a1 = i #category 1
    for y in list_id_category:
        a2 = y #category 2
        for x in list_id_category:
            a3 = x #category 3
            list_temp = sorted([a1, a2, a3]) #perlu di sort terlebih dulu dibuat list temporary yang selalu berubah
            if list_temp not in list_bundling_category and a1!=a2!=a3:
                list_bundling_category.append(list_temp)
                
# print(list_bundling_category)
print('Terdapat', len(list_bundling_category), 'kombinasi / kemungkinan bundling category untuk keperluan campaign')

Terdapat 210 kombinasi / kemungkinan bundling category untuk keperluan campaign

# No 4

Buatlah sebuah function string_processor dengan inputan 2 parameter, yaitu suatu string 1 kata dan nama proses yang akan dilakukan. <br>
Function ini memiliki 4 proses:
- first_char : return huruf pertama dari string yang diinput
- last_char : return huruf terakhir dari string yang diinput
- num_chars : return jumlah huruf string input
- num_vowels : return jumlah huruf vocal pada string input

In [4]:
def string_processor(a, proses):
    if proses == 'first_char':
        return a[0]
    elif proses == 'last_char':
        return a[-1]
    elif proses == 'num_chars':
        return len(a)
    elif proses == 'num_vowels':
        count = 0
        a_lower = a.lower()
        vowels = ['a', 'i', 'u', 'e', 'o']
        for i in a_lower:
            if i in vowels:
                count += 1
        return count
        
        
print('First Char:',string_processor('PythOn pRogramMing LanGuAGe', 'first_char'))
print('Last Char:',string_processor('PythOn pRogramMing LanGuAGe', 'last_char'))
print('Num Char:',string_processor('PythOn pRogramMing LanGuAGe', 'num_chars'))
print('Num Vowels:', string_processor('PythOn pRogramMing LanGuAGe', 'num_vowels'))

First Char: P
Last Char: e
Num Char: 27
Num Vowels: 8

# No 5

Buatlah 1 kolom baru pada dengan teknik apply lambda tanpa function def (cukup one liner) dengan nama kolom `is_gmail` dengan value True jika menggunakan gmail dan False jika selain gmail.
<br>
<br>
Tentukan ada berapa user yang menggunakan email gmail pada tahun 2018!

In [5]:
import pandas as pd
df = pd.read_csv('rakamin_store_city_monthly.csv', sep = ';')
df.duplicated().any() #check if any duplicated data

False

In [6]:
df['is_gmail'] = df['email'].apply(lambda x : True if 'gmail' in x else False)
df_filter = df.loc[(df['month'].str.contains('2018')) 
            & (df['is_gmail'] == True)]
print('Terdapat', df_filter['user_id'].count(), 'pengguna Gmail di tahun 2018')

Terdapat 3 pengguna Gmail di tahun 2018

# No 6

Buatlah function yang bisa menghitung Jumlah Sales dan Profit pada suatu tahun dan region tertentu dengan default tahun 2017. <br>
<br>
Tentukan total sales dan profit:
1. South Region pada tahun 2016
2. West Region pada tahun 2017

In [7]:
import pandas as pd
df = pd.read_excel('superstore.xls')
df.duplicated().any() #check if there is any duplicated data or not. surprisingly, there is no duplicated data

False

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

In [9]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [10]:
#make a year column
df['Year'] = df['Order Date'].dt.year

#make function to sum profit and sales 
def SalesProfit(region, tahun = 2017):
    df_filter = df.loc[(df['Region'] == region)
                      & (df['Year'] == tahun)]
    
    total_sales = df_filter['Sales'].sum().round(2)
    total_profit = df_filter['Profit'].sum().round(2)
    return total_sales, total_profit #bentuknya tuple. jadi ada index nya. 0 dan 1

print('Total Sales pada tahun 2017 di South Region sebesar', SalesProfit('South')[0])
print('Total Sales pada tahun 2017 di South Region sebesar', SalesProfit('South')[1])

Total Sales pada tahun 2017 di South Region sebesar 122905.86
Total Sales pada tahun 2017 di South Region sebesar 8848.91

# No 7

Menggunakan dataset superstore! Buatlah 3 kelompok `segment` (high, medium, dan low) berdasarkan performance pembelian yang digunakan sebagai acuan tim bisnis untuk mengelompokan customer superstore.

In [11]:
import pandas as pd
df = pd.read_excel('superstore.xls')
df.duplicated().any()

False

In [12]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [13]:
df.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

Menjadikan profit sebagai tolak ukur untuk membuat kolom segmentasi. Dengan menjadikan profit sebagai tolak ukur, tim bisnis bisa mengetahui customer siapa saja yang memberikan untung besar

In [16]:
#function segment
def segment(x):
    if x['Profit'] < 1.8:
        segmentasi = 'Low'
    elif x['Profit'] > 1.8 and x['Profit'] < 29.37:
        segmentasi = 'Med'
    else:
        segmentasi = 'High'
    return segmentasi

In [29]:
df['Segment'] = df.apply(lambda x : segment(x), axis = 1)
df['Order Date'] = df['Order Date'].astype('str')
df_filter = df.loc[df['Order Date'].str.contains('2017')]
df_grouped = df_filter.groupby(['Segment']).agg({'Customer ID' : pd.Series.nunique}).reset_index()

#rename the column
df_grouped.rename(columns = {'Customer ID' : 'Total Customers'}, inplace = True)

df_grouped

  Segment  Total Customers
0    High              426
1     Low              420
2     Med              608